/* Home Page */

.jumbotron{
  margin-top: 2%;
  background-color: lightblue;
}

.navbar {
  background-color: lightblue;
}

a{
  text-decoration: none;
  color: black;
}

.article-board{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-image{
  height: 200px;
}

.whole-card{
  padding-top: 2%;
  padding-bottom: 2%;
}

.body-of-the-card{
  height: 250px;
}

.article-title{
  text-align: center;
  padding: 0.5em;
}

.loading{
  padding-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Home Page */


/* Single Article Page */

.article-text{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.article-author{
  padding-top: 0.5em;
}

.article-category{
  padding-top: 0.5em;
}

.article-votes{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.extra-details{
  margin-top:10px;
  text-align: center;
}

.comments-card{
  margin-top:10px;
}

.comments-body{
  height: 400px;
  text-align: center;
}

.comments-form{
  margin-top:10px;
}

.form-group{
  text-align: center;
}

.comment-title{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-message{
  padding-top: 0.5em;
}

.form-name{
  padding-top: 0.5em;
}

.form-category{
  padding-top: 0.5em;
}
.form-image{
  padding-top: 0.5em;
}

.submit{
  margin: 10px 0;
}


/* Single Article Page */


/* .topics {
  font-size:  50px;
  text-align: center;
} */


/* .topics-title {
  text-align: center;
  font-size:  50px;
} */

/* .Football{
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px black;
} */

/* .Cooking{
  font-size:  50px;
  color: white;
  text-shadow: 1px 1px black;
} */

/* .Coding{
  font-size:  50px;
  color: white; 
  text-shadow: 1px 1px black;
} */

/* .four-zero-four{
  background-image: url('https://media.giphy.com/media/GGP4dpOtItmuI/giphy.gif');
  background-size: cover;
  height: 800px;
  width: 5000px;
} */

/* .topics{
  background-color: lightblue;
  text-shadow: 1px 1px black;
} */